  @import url('https://fonts.googleapis.com/css2?family=Bitter&family=Caveat:wght@500&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
}

/*--first--*/
.first video{
  display: block;
  position: absolute;  /*ポジション指定するため*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* width: 1440px; */
  /* height: 1052px; */
  opacity: 0.8;  /*不透明度*/
  z-index: -50;
  object-fit: cover;
}

.first nav ul{
  display: flex;
  width: 700px;
  height: 150px;
  padding: 100px;
  align-items: center;
  justify-content: space-between;
  font-size: 2.8em;
  list-style: none;
}

.first nav ul a{
  color: black;
  text-decoration: none;  /*青いラインを消す*/
}

.first nav ul :hover{
  color: rgb(220, 218, 218);
  transition: 0.3s;
  font-size: 1.1em;
  cursor: pointer;
}

.first h1{
  position: absolute;
  left: 100px;
  top: 300px;
  font-size: 60px;
  letter-spacing: 3px;
  font-family: 'Bitter', serif;
}

.music{
  position: absolute;
  top: 75vh;
  left: 17vh;
  display: flex
}

.music p{
  font-size: 40px;
  color: #fff;
  margin: 10px;
}

.music img{
width: 50px;
height: 50px;
margin: 10px;
transition: 0.5s;
}

.music img:hover{
  width: 53px;
  height: 53px;
  cursor: pointer;
}


/*--About--*/
.About{
  position: relative;
  top: 530px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 20px;
  opacity: 0.8;  /*不透明度*/
}

.About img{
  width: 85%;
  border-radius: 20px;
}

.babyin{
  margin: 5px 10px 10px;
  width:auto;
  height: 170px;
  border-radius: 20px;
  background: #f7f3b5;
}

.baby p{
  position: relative;
  top: 55px;
  left: 6px;
  color: #676565;
}

.catin{
  margin: 5px 10px 10px;
  width:auto;
  height: 170px;
  border-radius: 20px;
  background: #F8E4D1;
  color: #676565;
}

.cat h2 a{
  margin-top: 5px;
  font-size: 50px;
  color: black;
  text-decoration: none;
}

.cat p{
  padding: 20px 10px 10px 35px;
  width: 100%;
}

.flowerin{
  margin: 5px 10px 10px;
  width:auto;
  height: 170px;
  border-radius: 20px;
  background: #d0f9dc;
}

.flower p{
  position: relative;
  top: 55px;
  left: 6px;
  color: #676565;
}

/* --skill-- */
.Skill{
  position: absolute;
  top: 1450px;
}

.Skill h2{
  position: relative;
  left: 100px;
  font-size: 80px;
}

.Skill h2 a{
  text-decoration: none;
  color: black;
}

.Skill img{
  width: 65%;
  height: auto;
  position: relative;
  left: -30px;
  top: -100px;
  z-index: -50;
}

.Skill p{
  position: absolute;
  top: 300px;
  left: 670px;
  font-size: 25px;
  width: 450px;
}

/* --Contact-- */
.Contact{
  position: relative;
  top: 650px;
}

.Contact img{
  width: 80%;
  height: auto;
  opacity: 0.6;  /*不透明度*/
  z-index: -50;
}

.Contact h2{
  position: absolute;
  top: 100px;
  left: 100px;
  font-size: 80px;
  z-index: 10;
}

.Contact h2 a{
  color: black;
  text-decoration: none;
}

.form{
  position: absolute;
  top: 260px;
  left: 440px;
}
.form p{
  font-size: 20px;
  padding-top: 5px;
}

.form span{
  color: red;
  font-size: 30px;
}

input[type="text"],
input[type="email"]{
  width: 350px;
  height: 35px;
  font-size: 30px;
  border: none;
  outline: none;
  background: #e4e3e3;
  opacity: 0.8;

}

textarea[name="message"]{
  width: 350px;
  height: 150px;
  font-size: 30px;
  border: none;
  outline: none;
  background: #e4e3e3;
  opacity: 0.8;
}

input[type="submit"]{
width: 90px;
height: 50px;
position: absolute;
left: 135px;
top: 35px;
font-size: 23px;
border-radius: 20px;
border: none;
outline: none;
background: #d0d0d0;
color: #fff;
opacity: 0.8;
transition: 0.5s;
}

input[type="submit"]:hover{
  background: #84ceec;
  width: 85px;
  height: 50px;
  font-size: 25px;
  border-radius: 40px;
  opacity: 0.8;
}


/* ---SP ---*/
@media screen and (max-width:600px) {
  .list{
    flex-direction: column;
  }

  .About p{
    font-size: 15px;
  }

  .Skill h2{
    position: relative;
    top: -250px;
    left: 80px;
    font-size: 60px;
  }

  .Skill img{
    position: relative;
    top:-280px;
    left: auto;
  }

  .Skill .text{
    font-size: 15px;
    position: relative;
    top: -450px;
    left: 230px;
  }

  .Contact img{
    position: relative;
    top: -280px;
    left: 0;
  }

  .Contact h2{
    position: relative;
    top: -250px;
    left: 30px;
    font-size: 60px;
  }

  .form{
    position: relative;
    top: -600px;
    left: 150px;
    width: 200px;
    font-size: 15px;
  }

  input[type="text"],
  input[type="email"]{
    width: 230px;
    height: 20px;
    font-size: 17px;
  }

  textarea[name="message"]{
    width: 230px;
    height: 100px;
    font-size: 17px;
  }

  input[type="submit"]{
    position: relative;
    top: 10px;
    left: 80px;
    width: 50px;
    height: 30px;
    font-size: 20px;
  }

  input[type="submit"]:hover{
    width: 45px;
    height: 30px;
    font-size: 20px;
  }



}